@model List<Movie>

<div class="container">
    <div class="row">
        @for (var i = 0; i < Model.Count; i++)
        {
            <div class="col-6">
                <div class="card mt-4 mb-2" style="border-radius:20px">
                    <div class="card-header text-light" style="background: #0f0c29; /* fallback for old browsers */ background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); /* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(to right, #24243e, #302b63, #0f0c29); color: #ffffff;">
                        <div class="row align-items-center">
                            <div class="col-10">
                                <h4 class="card-title">@Model[i].Name</h4>
                            </div>
                            @if (User.IsInRole("Admin"))
                            {
                                <div class=" col-1 ">
                                    <a href="/Movies/Edit/@Model[i].Id" class="text-warning">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
                                        </svg>
                                    </a>
                                </div>                            
                                <div class=" col-1">
                                    <a href="/Movies/Delete/@Model[i].Id" class="text-danger">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                                        </svg>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-5">
                            <img src="/images/movies/@Model[i].ImgUrl" class="card-img" alt="Movie Image" style="height: 350px; object-fit: cover;">
                        </div>
                        <div class="col-7">
                            <div class="card-body">
                                <p class="card-text">
                                    Price:
                                    <a class="btn btn-dark badge fs-6"> $@Model[i].Price</a>
                                </p>
                                <p class="card-text">Cinema: @Model[i].Cinema?.Name</p>
                                <p class="card-text">Start Date: @Model[i].StartDate</p>
                                <p class="card-text">End Date: @Model[i].EndDate</p>
                                <p class="card-text">Category: @Model[i].Category?.Name</p>
                                <p class="card-text">View Count: @Model[i].ViewCount</p>
                                @if (Model[i].StartDate > DateTime.Now)
                                {
                                    <div>
                                        <a class="btn btn-warning badge text-dark mb-4 fs-6">Upcoming</a>
                                    </div>
                                }
                                else if (Model[i].EndDate < DateTime.Now)
                                {
                                    <div>
                                        <a class="btn btn-danger badge mb-4 fs-6">Expired</a>
                                    </div>
                                }
                                else
                                {
                                    <div>
                                        <a class="btn btn-primary badge mb-4 fs-6">Available</a>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    @if (Model[i].StartDate > DateTime.Now)
                    {

                        <div class="card-footer text-center">
                            @if (User.IsInRole("User") || !User.Identity.IsAuthenticated) 
                            {

                                <a class="btn btn-success" href="/movies/AddToCart/@Model[i].Id">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart mb-1" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                                    </svg> Book Ticket (Price: $@Model[i].Price)
                                </a>
                                
                             } 

                            <a class="btn btn-primary ms-3" href="/movies/details/@Model[i].Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye mb-1" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                </svg>  Show Details
                            </a>
                        </div>
                    }
                    else if (Model[i].EndDate < DateTime.Now)
                    {
                        <div class="card-footer text-center ">
                            @if (User.IsInRole("User") || !User.Identity.IsAuthenticated)
                            { 
                                <a class="btn btn-secondary disabled">Booking Not Available </a>
                            } 
                            <a class="btn btn-primary ms-3" href="/movies/details/@Model[i].Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye mb-1" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                </svg>  Show Details
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="card-footer text-center ">
                            @if (User.IsInRole("User") || !User.Identity.IsAuthenticated)
                            { 
                                <a class="btn btn-success" href="/movies/AddToCart/@Model[i].Id">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-cart mb-1" viewBox="0 0 16 16">
                                        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2" />
                                    </svg> Book Ticket (Price: $@Model[i].Price)
                                </a>
                            } 

                            <a class="btn btn-primary ms-3" href="/movies/details/@Model[i].Id">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye mb-1" viewBox="0 0 16 16">
                                    <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z" />
                                    <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0" />
                                </svg>  Show Details
                            </a>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
